
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: default;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer/Switzer-Regular.woff2') format('woff2'),
    url('/fonts/Switzer/Switzer-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Switzer-SemiBold';
  src: url('/fonts/Switzer/Switzer-Semibold.woff2') format('woff2'),
    url('/fonts/Switzer/Switzer-Semibold.woff') format('woff');
}
html,
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: 'Switzer', sans-serif;
}
button{
  all: unset;
  background: linear-gradient(90deg, #FEAC5E 0%, #B2CE37 37.5%, #63D7AF 68.75%, #1CC2DF 100%);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 15px 25px;
  cursor: pointer;
}
input, textarea{
  all: unset;
  background: #E6E6E6;
  padding: 5px ;
  border-radius: 10px;
}

